@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 700;
  box-sizing: border-box;
}
button{
  border:none;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #14131B 0%, #08070B 100%);
}
section{
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
h1{
  font-size: 24px;
  line-height: normal;
  color: #817D92;
}
.pass__gen{
  max-width: 540px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.parol{
  max-width: 540px;
  /* height: 80px; */
  padding: 19px 32px;
  background: #24232C;
  display: flex;
  align-items: center;
  justify-content: space-between;


  font-size: 32px;
  color: #E6E5EA;
  line-height: normal;
}
.parol svg{
  cursor: pointer;
}
.parol svg:hover path {
  fill: white;
}
.pass__about{
  width: 540px;
  padding: 24px 32px;
  background: #24232C;

  display: flex;
  flex-direction: column;
  gap: 32px;
}
.pass__length{
  width: 476px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.len{
  /* width: 476px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.len p{
  font-size: 18px;
  color: #E6E5EA;
}
.len label{
  font-size: 32px;
  color: #A4FFAF;
}
input[type="range"]{
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #18171F;
}
input[type="range"]:hover::-webkit-slider-thumb{
    border: 2px solid #A4FFAF;
    background: #18171F;
}

input[type="range"]::-webkit-slider-thumb{
    position: relative;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #E6E5EA;
    cursor: pointer;
}
.color{
  width: 50%;
  height: 8px;

  transform: translateY(25px);
  background: rgb(164, 255, 175);
  margin-top: -8px;
}
form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.check{
  display: flex;
  align-items: center;
  gap: 24px;
}
input[type = 'checkbox']{
  display: none;
}
input[type = 'checkbox']:checked ~ label{
  border: none;
  background: rgb(164, 255, 175);
}
input[type = 'checkbox']:checked ~ label::before{
  display: block;
}
.check label{
  width: 20px;
  height: 20px;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
label::before{
  display: none;
  content: url(/img/icon-check.svg);
}
.check span{
  font-size: 18px;
  color: #E6E5EA;
}
.strength{
  width: 476px;
  padding: 24px 32px;
  background: #18171F;

  font-size: 18px;
  color: #817D92;

  display: flex;
  justify-content: space-between;
}
.pows{
  display: flex;
  gap: 15px;

  font-size: 24px;
  color: #E6E5EA;
}
.pow{
  display: flex;
  gap: 8px;
}
.pow span{
  width: 10px;
  height: 28px;
  border: 2px solid #E6E5EA;
}
button{
  padding: 20px 0;
  background: rgb(164, 255, 175);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  font-size: 18px;
  color: #24232C;
  cursor: pointer;
}

button:hover{
  background: #18171F;
  color: #E6E5EA;
}
button:hover svg path{
  fill: #E6E5EA;
}

/* Mobile */
@media only screen and (max-width:650px) {
  section{
    justify-content: center;
    gap: 16px;
  }
  h1{
    font-size: 16px;
  }
  .pass__gen{
    max-width: 343px;
    align-items: center;
    gap: 16px;
  }
  .parol{
    width: 343px;
    /* height: 80px; */
    padding: 17px 16px;

    font-size: 24px;
  }
  .parol img{
    cursor: pointer;
  }
  .pass__about{
    width: 343px;
    padding: 21px 16px;
    gap: 16px;
  }
  .pass__length{
    width: 312px;
    gap: 8px;
  }
  .len p{
    font-size: 16px;
  }
  .len label{
    font-size: 24px;
  }
  form{
    gap: 17px;
  }
  .check{
    gap: 20px;
  }
  .check span{
    font-size: 16px;
  }
  .strength{
    width: 312px;
    padding: 14px 16px;
    font-size: 16px;
  }
  .pows{
    font-size: 16px;
  }
  button{
    padding: 18px 0;
    gap: 16px;
    font-size: 16px;
  }
}
